.popup{
    min-width: 500px;
}
.channel-list{
    display: none;
}
.video-list{
    display: none;
}

.add-channel-screen{
    display: none;
}

.add-category-screen{
    display: none;
}

button{
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
}